.container{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    padding: 2%;
    background-color: white;
}

.btnRemove{
    background-color: #333; 
    border: none;
    border-radius: 5%; 
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btnClear {
    background-color: #333;
    font-size: 20px;
    color: white;
    border: none;
}

.h2{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 100;
    color: #1a1a1a;
}

.img{
    width: 48px;
    height: 48px;
}

.containerVacio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    flex-direction: column;
}

.btn_eliminar{
    background-color: #333; 
    border: none;
    border-radius: 5%; 
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 11px 22px;
    margin-top: 5%;
    font-size: 14px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.list_style{
    list-style-type: none;
}

.price {
    font-weight: 100;
}