.card_container {
    display: flex;
    flex-direction: column;
    width: 18rem;
    border: 2px solid rgb(217, 217, 217);
    border-radius: 5%;
    padding: 20px;
}

.txt_none{
    text-decoration: none;
}

.card_container:hover{
    box-shadow: 3px 3px 15px 1px rgb(98, 98, 98);

}
.price {
    padding-top: 20%;
    color: rgb(25,163,25);
    font-weight: 600;
    text-decoration: none;

}
.img {
    width: 100%;
    border-radius: 3px solid  ;
}

.stock{
    padding-top: 20%;
    padding-bottom:12% ;
    color: black;
    font-weight: 600;
    font-size: 12px;
}

.h2{
    font-size: 15px;
}

.btn_carrito{
    background-color: #4CAF50; 
    border: none;
    border-radius: 5%; 
    color: white;
    padding: 11px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn_carrito:hover{
    background-color: #2f7832;
}

.btn_carrito:active {
    background-color: #2f7832;
    box-shadow: 0 3px rgb(85, 85, 85);
    transform: translateY(4px);
}
