.h1_ContainerNav{
    color: white;
    font-weight: 200;
    text-decoration: none;
}

.span_ContainerNav{
    font-weight: bold;
    text-decoration: none;
}

.NavContainer {
    padding: 1.4rem;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a_ContainerNav{
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}

.txt_none {
    text-decoration: none;
}